@model E_TicaretSitesiMVC.Models.Siniflar.FaturaDetay
@{
    ViewBag.Title = Model.FaturaDetayID > 0 ? "Fatura Detay Düzenle" : "Yeni Ürün";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>@ViewBag.Title</h2>
<br />

@{
    string formAction = Model.FaturaDetayID > 0 ? "SatisGuncelle" : "FaturaDetayEkle";
    string text = Model.FaturaDetayID > 0 ? "Güncelle" : "Kaydet";
}

@using (Html.BeginForm(formAction, "Fatura", FormMethod.Post))
{
    <form class="form-group" method="post">
        @Html.HiddenFor(x => x.FaturaDetayID)
        @Html.Label("Açıklama:")
        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
        <br />
        @Html.Label("Miktar:")
        @Html.TextBoxFor(x => x.Miktar, new { @class = "form-control" })
        <br />
        @Html.Label("Birim Fiyat:")
        @Html.TextBoxFor(x => x.BirimFiyat, new { @class = "form-control" })
        <br />
        @Html.Label("Tutar:")
        @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control" })
        <br />
        @Html.Label("Fatura ID:")
        @Html.TextBoxFor(x => x.FaturaID, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">@text</button>
    </form>
}



@*@Html.DropDownListFor(x => x.CariID, (List<SelectListItem>)ViewBag.Cariler, new { @class = "form-control" })*@