@using E_TicaretSitesiMVC.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Fatura>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Fatura", FormMethod.Get))
{
    <p>
        Seri/Sıra No: @Html.TextBox("parametre")
        <input type="submit" class="btn btn-success" value="Ara" />
    </p>
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Seri/Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var f in Model)
    {
        <tr>
            <td>@f.FaturaID</td>
            <td>@f.FaturaSeriNo@f.FaturaSiraNo</td>
            <td>@f.VergiDairesi</td>
            <td>@f.Tarih.ToShortDateString()</td>
            <td>@f.Tarih.ToLongTimeString()</td>
            <td>@f.TeslimEden</td>
            <td>@f.TeslimAlan</td>
            <td>@f.Toplam</td>
            <td><a href="/Fatura/FaturaGetir/@f.FaturaID" class="btn btn-primary">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@f.FaturaID" class="btn" style="background-color:gold">Detay</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Fatura/FaturaEkle" class="btn btn-info">Yeni Fatura Oluştur</a>

