@model E_TicaretSitesiMVC.Models.Siniflar.Kategori
@{
    ViewBag.Title = Model.KategoriID > 0 ? "Kategori Düzenle" : "Yeni Kategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>@ViewBag.Title</h2>
<br />

@*
    KategoriID 0 dan büyükse düzenleme değilse yeni kayıt yapılıyordur.
    Bunu kontrol ederek formAction'ımızı ve buton class'ımızı ona göre belirledik.
*@

@{
    string formAction = Model.KategoriID > 0 ? "KategoriGuncelle" : "KategoriEkle";
    string btnclass = Model.KategoriID > 0 ? "btn btn-info" : "btn btn-success";
}

@using (Html.BeginForm(formAction, "Kategori", FormMethod.Post))
{
    <form class="form-group" method="post">
        @Html.LabelFor(x => x.KategoriAd)
        @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
        @Html.HiddenFor(x => x.KategoriID)
        <br />
        <button class="@btnclass">Kaydet</button>
    </form>
}
