@using E_TicaretSitesiMVC.Models.Siniflar
@model List<Yapilacak>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Templates/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/Templates/AdminLTE-3.0.4/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Templates/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Templates/AdminLTE-3.0.4/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Templates/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Templates/AdminLTE-3.0.4/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Templates/AdminLTE-3.0.4/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Templates/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>@ViewBag.d1</h3>

                                <p>Müşteriler</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="/Cari/CariEkle" class="small-box-footer">Yeni Müşteri <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>@ViewBag.d2</h3>

                                <p>Ürünler</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="/Urun/UrunEkle" class="small-box-footer">Yeni Ürün <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>@ViewBag.d3</h3>

                                <p>Kategoriler</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="/Kategori/Index" class="small-box-footer">Kategorileri Gör <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>@ViewBag.d4</h3>

                                <p>Müşteri Şehir Sayısı</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="/Cari/Index" class="small-box-footer">Müşterileri Gör <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-7 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <!-- TO DO List -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="ion ion-clipboard mr-1"></i>
                                    Yapılacaklar Listesi
                                </h3>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <ul class="todo-list" data-widget="todo-list">
                                    @foreach (var x in Model)
                                    {
                                        var name = "todo" + x.YapilacakID;
                                        var id = "todoCheck" + x.YapilacakID;

                                        var tarih = x.Tarih;
                                        var gecenSure = DateTime.Now - tarih;
                                        string sureMetni;
                                        string clas;

                                        if (gecenSure.TotalMinutes < 60)
                                        {
                                            sureMetni = $"{Math.Floor(gecenSure.TotalMinutes)} dakika";
                                            clas = "badge badge-success";
                                        }
                                        else if (gecenSure.TotalHours < 24)
                                        {
                                            sureMetni = $"{Math.Floor(gecenSure.TotalHours)} saat";
                                            clas = "badge badge-primary";
                                        }
                                        else if (gecenSure.TotalDays < 7)
                                        {
                                            sureMetni = $"{Math.Floor(gecenSure.TotalDays)} gün";
                                            clas = "badge badge-warning";
                                        }
                                        else if (gecenSure.TotalDays < 30)
                                        {
                                            sureMetni = $"{Math.Floor(gecenSure.TotalDays / 7)} hafta";
                                            clas = "badge badge-info";
                                        }
                                        else
                                        {
                                            sureMetni = $"{Math.Floor(gecenSure.TotalDays / 30)} ay";
                                            clas = "badge badge-danger";
                                        }

                                        <li>                                            
                                            <!-- checkbox -->
                                            <div class="icheck-primary d-inline ml-2">
                                                <input type="checkbox" value="" name="@name" id="@id">
                                                <label for="@id"></label>
                                            </div>
                                            <!-- todo text -->
                                            <span class="text">@x.Baslik</span>
                                            <!-- Emphasis label -->
                                            <small class="@clas"><i class="far fa-clock"></i> @sureMetni</small>
                                            <!-- General tools such as edit or delete-->
                                            <div class="tools">
                                                <a href="/Yapilacak/YapilacakSil/@x.YapilacakID" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                                <a href="/Yapilacak/YapilacakEkle" type="button" class="btn btn-info float-right"><i class="fas fa-plus"></i>Ekle</a>
                                
                            </div>
                        </div>
                        <!-- /.card -->
                    </section>
                    <!-- /.Left col -->
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- jQuery -->
    <script src="~/Templates/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Templates/AdminLTE-3.0.4/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/Templates/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Summernote -->
    <script src="~/Templates/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Templates/AdminLTE-3.0.4/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Templates/AdminLTE-3.0.4/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Templates/AdminLTE-3.0.4/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Templates/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>
